*.jar
bin/*
eclipse/*
.gradle/*
gradlew*
gradle/*
.settings/*
.project
.classpath
.classpath
.project
*.log
*.gz
*.cfg
.settings/org.eclipse.jdt.core.prefs
.project
.classpath
*.project
*.classpath
*.classpath
*.project
